body, html {
  margin: 0;
  background-color: black;
}

.bg {
  /* Full height */
  height: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
}

div {
  display: block;
}

.box {
  border: 3px solid rgba(107, 91, 2, 0.926);
  border-top-right-radius: 44px;
  width: 330px;
  height: 210px;
  background-color: #a9a990;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.en::before {
  content: "";
  float: right;
  margin-right: -3px;
  border-bottom: 40px solid rgba(160, 136, 2, 0.926);
  border-right: 40px solid black;
  width: 0px;
}

#en1::before {
  margin-top: -3px;
}

#en2::before {
  margin-top: -40px;
}

#en3::before {
  margin-top: -39.8px;
}

.dot, .yellow, .red, .blue {
  height: 17px;
  width: 17px;
  border-radius: 50%;
  left: -35px;
  top: -10px;
  display: inline-block;
}

.st, .f .r .i .e .n .d .s {
  font-family: abc;
  font-size: 90px;
  display: inline;
  top: 5px;
  color: blanchedalmond;
  -webkit-text-size-adjust: auto;
     -moz-text-size-adjust: auto;
      -ms-text-size-adjust: auto;
          text-size-adjust: auto;
}

.text {
  font-size: 16px;
  color: black;
  margin-top: 25px;
  margin-left: 110px;
  font-weight: 600;
  font-synthesis: style;
}

.quote {
  margin-left: 35px;
  margin-top: 50px;
}

.quote a {
  color: whitesmoke;
  text-underline-position: below;
  text-indent: 1px;
  text-justify: inter-word;
  font-style: italic;
}

.quote a:hover {
  color: rgba(132, 8, 255, 0.323);
  text-shadow: rgba(214, 236, 177, 0.919);
}

@font-face {
  font-family: abc;
  src: url(GABRWFFR.TTF);
}

#title {
  font-family: cursive;
  font-size: 25px;
  font-style: oblique;
  font-weight: 800;
  font-variant: inherit;
  color: #ffcdcd;
  margin-left: 20px;
  margin-top: -35px;
  height: 40px;
  width: 150px;
}

.letters {
  margin-left: 18em;
  margin-top: 10px;
  width: 1100px;
}

.yellow {
  background-color: yellow;
}

.red {
  background-color: red;
}

.blue {
  background-color: blue;
}

.f .r .i .e .n .d .s {
  font-family: abc;
}

a {
  color: teal;
  font-size: 27px;
}

#image {
  margin-left: 15em;
}

img {
  height: 450px;
  width: 730px;
  margin-top: 30px;
  margin-left: 135px;
  -webkit-box-shadow: 0 10px 20px rgba(247, 252, 0, 0.822), 0 6px 6px rgba(41, 46, 17, 0.384);
          box-shadow: 0 10px 20px rgba(247, 252, 0, 0.822), 0 6px 6px rgba(41, 46, 17, 0.384);
  border-radius: 25px;
}

.joey {
  margin-top: 60px;
  margin-left: 60px;
}

.pheobe, .chandler {
  margin-left: 34em;
  margin-top: -216px;
}

.ross, .monica {
  margin-left: 64em;
  margin-top: -216px;
}

.rachel {
  margin-top: 60px;
  margin-left: 60px;
}

p {
  color: rgba(245, 245, 245, 0.426);
  -ms-flex-line-pack: center;
      align-content: center;
  margin-left: 47%;
  margin-top: 50px;
  font-size: 16px;
}

.hh {
  display: block;
  color: whitesmoke;
  margin-top: -38px;
  margin-left: 53%;
  font-size: 24px;
}
/*# sourceMappingURL=style.css.map */